#main-Pane{
	-fx-background-color: Aquamarine;
}

#scoreBox{

	 -fx-font: 27px Segoe;
	-fx-fill: MintCream;
	-fx-stroke: MintCream;
	 -fx-stroke-width: 1;

}
.scroll-pane > .viewport  { -fx-background-color: Black; }
#scroll{
	-fx-background-color: Black;
}
#hBOX{
	-fx-background-color: DimGrey; 
	-fx-stroke: White;
}
#pickColor{
	 -fx-font: 20px Segoe;
	-fx-fill: DimGrey;
	-fx-stroke: DimGrey;
	 -fx-stroke-width: 1;
}
#text{
	 -fx-font: 29px Segoe;
	-fx-fill: DimGrey;
	-fx-stroke: DimGrey;
	 -fx-stroke-width: 1;

}
#text-Ins{
	-fx-font: 20px System;
	-fx-text-fill: White;
	-fx-stroke: White;
	 -fx-stroke-width: 1;

}
#picked{
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
}
#allDisks{
	-fx-background-color: Black;
}
#play{
	
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: System;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
#play Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
#play:hover{
 	    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 10%, #1f2429 20%, #191d22 80%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
      -fx-cursor: hand;
 
   
 }
#circle{
	-fx-background-color: white;
	-fx-border-radius: 30;
}

#pane{
	-fx-background-color: Aquamarine;
	
}
#scoreBox2{

	 -fx-font: 27px Segoe;
	-fx-font-color: MintCream;
	-fx-stroke: MintCream;
	 -fx-stroke-width: 1;

}
#main {
	-fx-background-color:Black;
}